.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}
.header {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 80px;
  text-decoration: none;
  list-style-type: none;
}
.header__link {
  font-size: 18px;
  color: #ffffff;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}
.intro {
  min-height: 100vh;
  background: url(../images/Hero.jpg) no-repeat left 6px;
  background-size: cover;
  margin: 0;
  padding-top: 263px;
}
.intro__tytle {
  max-width: 619px;
  font-size: 50px;
  line-height: 60px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 22px;
}
.intro__subtitle {
  max-width: 546px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  line-height: 125%;
  margin-bottom: 59px;
}
.searcher__form {
  width: 297px;
  background: transparent;
  background: url(../images/Oval.svg) no-repeat left top;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #ffffff;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.searcher__form::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.searcher__btn {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background: #1b7dff;
  border: 0;
  cursor: pointer;
}
.searcher__btn:hover,
.searcher__btn:hover:focus,
.searcher__btn:hover:active {
  background: #1d4c8b;
}
.Benefits__wrap {
  max-width: 1262px;
  height: 655px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px black;
  position: relative;
}

.benefits_title {
  width: 1062px;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 100px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #ffffff;
}
.benefis__cards {
  display: flex;
  justify-content: space-around;
  padding-top: 261px;
  padding-left: 100px;
}
.benefis__card {
  max-width: 317px;
  height: 287px;

  left: 189px;
  margin-bottom: 106px;
  border-radius: 0px;
}
.card__text {
  padding-right: 20px;
  width: 280px;
}
.card__more {
  display: inline-block;
  margin-top: 80px;
  cursor: pointer;
}
/* ---section3 */
.inspirid {
  text-align: center;
}
.inspirid__bocks {


  margin: 40px auto;
  width: 1262px;
  height: 735px;
}
.inspirid__title {

  display: flex;
  justify-content:space-between;
  
  font-family: Lato;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;

 
}
.image__view {
  margin-top: 37px;
}
.get__insp {
  padding-left: 0;
}
.card__top {

  display: flex;
  justify-content: space-around;
  /* width: 720px;
  height: 354; */
  margin:0 auto;
}
.title {

}
.text {
  padding-top:  50px; ;
}
.img__more {
  padding-top: 50px;
}
.image__top {
 
  width: 620px;
  height: 350px;

}
.cards__bottom {
  display: flex;
  justify-content: space-between;
}
.image__bottom {
  width: 435px;
  height: 288px;
}
/* ---section 4 */
.prefecture {
}
.plane {
}
.card__first {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}
.first__photo {

}
.photo-1 {
  width: 600px;
  height: 354px;
}
.Prefecture__Focus {
  text-align: center;
  margin-left: 137px;
  margin-right: 142px;

}





.card__second {
  display: flex;
  justify-content: space-between;
 
}
.second__photo {
  width: 600px;
  height: 354px;
  margin:0 auto;
}
.photo-2 {
}
.Featured {
  text-align: center;
  margin-left: 22px;
  margin-right: 68px;
  margin-top: 50px;
}

/* ---секция 5 */
 
.section-5 {
  margin:0;
  padding: 10px 10px;
}
.container-5 {
  width:1280px ;
  height:1300px ;
  margin-top: 50px;
}
.title__hom {

}
.container__top {
  display: flex;
  justify-content: space-between;
}
.images__top { 
  width: 392px;
  height: 567px;
}
.images__nagoya {
  width:386px;
  height: 370px;
}
.container__bottom {
  display: flex;
  justify-content: space-between;
}
.images__bottom {
  width: 392px;
  height: 567px;
}
.images__saitama {
  width:386px;
  height: 370px;
}
 .see-more {
  padding-top: 1px;
  align-items: center;
  display: block;
  width: 118px;
  height: 51px;
  background-color: #1b7dff;

}
/* --footer */
.bock__footer {
background: #1e282f;
height: 300px;
width: 1227px;
border-radius: 0px;
display: flex;
justify-content: space-around;
align-items: center;

} 
.list {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #ffffff
}
li {
  list-style-type: none;
}




